<a href="https://colab.research.google.com/github/Sonam060703/Consultadd_Python_Training/blob/main/Exercises_2_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a function translate() that will translate a text into "rövarspråket" (Swedish for "robber's language"). That is, double every consonant and place an occurrence of "o" in between. For example, translate("this is fun") should return the string "tothohisos isos fofunon".

In [4]:
txt = input("Enter text you want's to convert:")

Enter text you want's to convert:this is fun

In [5]:
def translate_text(txt):
  vowel = "aeiouAEIOU"
  translate = ''
  for char in txt:
    if char.isalpha() and char not in vowel:
      translate = translate + char + 'o' + char
    else:
      translate += char
  return translate

In [6]:
print(translate_text(txt))

tothohisos isos fofunon

Define a function sum() and a function multiply() that sums and multiplies (respectively) all the numbers in a list of numbers. For example, sum([1, 2, 3, 4]) should return 10, and multiply([1, 2, 3, 4]) should return 24

In [17]:
seq = input("Enter space seperated numbers:")
list = seq.split() ;

Enter space seperated numbers:1 2 3 4

In [8]:
def sum(list):
  total_sum = 0
  for i in list:
    total_sum += int(i)
  return total_sum

In [13]:
def multiply(list):
  product = 1
  for i in list:
    product *= int(i)
  return product

In [18]:
print(sum(list))
print(multiply(list))

10
24

Define a function reverse() that computes the reversal of a string. For example, reverse("I am testing") should return the string "gnitset ma I

In [19]:
inp = input("Enter string you want to reverse:")

Enter string you want to reverse:I am testing

In [22]:
def reverse_string(inp):
  return inp[::-1]

In [23]:
print(reverse_string(inp))

gnitset ma I

Define a function is_palindrome() that recognizes palindromes (i.e. words that look the same written backwards). For example, is_palindrome("radar") should return True

In [32]:
inp = input("Enter string: ")

Enter string: radar

In [28]:
def is_pallindrome(s):
  i = 0
  j = len(s) - 1
  while i < j:
    if s[i] == s[j]:
      i += 1
      j -= 1
    else:
      return False
  return True

In [33]:
print(is_pallindrome(inp))

True

Write a function is_member() that takes a value (i.e. a number, string, etc) x and a list of values a, and returns True if x is a member of a, False otherwise.

In [39]:
x = input("Enter value:")
inp = input("Enter space separated values")
a = inp.split()

Enter value:x
Enter space separated values12 3 4 x solo

In [40]:
def is_member(list , val):
  return val in list

In [41]:
print(is_member(a , x))

True

 Define a function overlapping() that takes two lists and returns True if they have at least one member in common, False otherwise. You may use your is_member() function, or the in operator, but for the sake of the exercise, you should (also) write it using two nested for-loops

In [45]:
seq1 = input("Enter space separated values:")
seq2 = input("Enter space separated values:")
list1 = seq1.split()
list2 = seq2.split()

Enter space separated values:1 2 3 4 sona
Enter space separated values:sona 5 6 7

In [43]:
def overlapping1(list1 , list2):
  for i in list1:
    for j in list2:
      if i == j:
        return True
  return False

In [49]:
def overlapping2(list1 , list2):
  for i in list1:
    if is_member(list2 , i):
      return True
  return False

In [46]:
print(overlapping1(list1 , list2))

True

In [50]:
print(overlapping2(list1 , list2))

True

Write a function char_freq() that takes a string and builds a frequency listing of the characters contained in it. Represent the frequency listing as a Python dictionary. Try it with something like char_freq("abbabcbdbabdbdbabababcbcbab").

In [1]:
str = input("Enter string: ")

Enter string: abbabcbdbabdbdbabababcbcbab

In [2]:
def char_freq(str):
  freq = {}
  for i in str:
    if i in freq:
      freq[i] += 1
    else:
      freq[i] = 1
  return freq ;

In [3]:
print(char_freq(str))

{'a': 7, 'b': 14, 'c': 3, 'd': 3}

Write a program able to play the "Guess the number"-game, where the number to be guessed is randomly chosen between 1 and 20. (Source: http://inventwithpython.com) This is how it should work when run in a terminal:

Hello! What is your name? Torbjörn Well, Torbjörn, I am thinking of a number between 1 and 20. Take a guess. 10 Your guess is too low. Take a guess. 15 Your guess is too low. Take a guess. 18 Good job, Torbjörn! You guessed my number in 3 guesses!

In [4]:
import random

In [9]:
def guess_the_number():
  print("Hello! What is your name?")
  name = input()
  print("Well, " + name + ", I am thinking of a number between 1 and 20.")
  num = random.randint(1 , 20)
  cnt = 0
  while(True):
    guess = input("Take a guess:")
    cnt += 1
    if int(guess) < num:
      print("Your guess is too Low.")
    elif int(guess) > num:
      print("Your guess is too High.")
    else:
      print(f"Good job, {name}! You guessed my number in {cnt} guesses!")
      break

In [10]:
guess_the_number()

Hello! What is your name?
Sonam
Well, Sonam, I am thinking of a number between 1 and 20.
Take a guess:10
Your guess is too Low.
Take a guess:15
Your guess is too Low.
Take a guess:18
Good job, Sonam! You guessed my number in 3 guesses!

Write a program that maps a list of words into a list of integers representing the lengths of the correponding words.

In [11]:
seq = input("Enter space separated words: ")
list_ip = seq.split()

Enter space separated words: apple banana dog cat rat xtypjuhi

In [12]:
list_op = []
for i in list_ip:
  list_op.append(len(i))
print(list_op)

[5, 6, 3, 3, 3, 8]