<a href="https://colab.research.google.com/github/Sonam060703/Consultadd_Python_Training/blob/main/Python_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.
 Go to the editor
Sample value of n is 5
Expected Result : 615

In [3]:
n = int(input())
print(n + int(str(n) + str(n)) + int(str(n) + str(n) + str(n)))

5
615

Create a program that asks the user to enter their name and their age.
Print out a message addressed to them that tells them the year that they will turn 100 years old.

In [4]:
from datetime import datetime

In [6]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
current_year = datetime.now().year
print(f"Hello {name} , You will turn 100 in {current_year + (100 - age)}")

Enter your name: Sonam
Enter your age: 20
Hello Sonam , You will turn 100 in 2105

Write a Python program to check a triangle is valid or not

In [7]:
side1 = int(input("Enter side 1:"))
side2 = int(input("Enter side 2:"))
side3 = int(input("Enter side 3:"))
if side1 + side2 > side3 and side2 + side3 > side1 and side1 + side3 > side2:
  print("The triangle is valid")
else:
  print("The triangle is not valid")

Enter side 1:3
Enter side 2:4
Enter side 3:5
The triangle is valid

Write a Python program to construct the following pattern, using a nested loop number.


```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [11]:
for i in range(1, 10):
  print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [12]:
for i in range(1,10):
  for j in range(i):
    print(i , end="")
  print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

Write a Python program to construct the following pattern, using a nested for loop.



```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [16]:
for i in range (1,6):
  for j in range(i):
    print("*" , end=" ")
  print()
for i in range(4,0,-1):
  for j in range(i):
    print("*" , end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [18]:
for i in range(1,6):
  print("* "*i)
for i in range(4,0,-1):
  print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Write a Python program that accepts a string and calculate the number of digits and letters
Sample Data : "Python 3.2" ||
Expected Output :
Letters -> 6 ,
Digits -> 2

In [19]:
inp = input("Enter String: ")
Letters = 0
Digits = 0
for i in inp:
  if i.isalpha():
    Letters += 1
  elif i.isdigit():
    Digits += 1
print(f"The given string contains :")
print(f"Letters {Letters}")
print(f"Digits {Digits}")

Enter String: Python 3.2
The given string contains :
Letters 6
Digits 2

Count the number of even and odd numbers from a series of numbers
```
Input :
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
Declaring the tuple
Output
Number of even numbers : 4                                    
Number of odd numbers : 5

```

In [20]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
odd = 0
even = 0
for i in numbers:
  if i%2:
    odd += 1
  else:
    even += 1
print(f"Number of even numbers : {even}")
print(f"Number of odd numbers : {odd}")

Number of even numbers : 4
Number of odd numbers : 5